body {
	background-color: #00BFFF;
	background-size: cover;
	text-align: center;
}

h1 {
color: #111;
font-family: 'Helvetica Neue', sans-serif; font-size: 80px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; 
}


@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);


.sandbox-correct-pronounciation {
  padding: 2em 0 2em 0;
}

.heading-correct-pronounciation {

  margin-top: 0px;
  text-align: center;
  position: relative;
}

h1 {
  font-family: 'EB Garamond', serif;
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: italics;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
  
  &::before, &::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
    opacity: 0.2;
  margin: 0 0.6em;
  font-size: 400px;
}

h2 {
	font-size: 30px;
}

p1 {
  font-size: 25px;
  font-family: New Century Schoolbook, serif;
  font-style: italics;
}

